.film_card {
  position: relative;
  width: 190px;
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.header_card {
  background-color: #000;
}

.film_card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, rgba(255,0,0,0.6), rgba(255,128,0,1) 100%);
  z-index: -1;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175,0.885,0.32,1.275);
}

.film_card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, rgba(255,0,0,0.6), rgba(255,128,0,1) 100%);
  transform: translate3d(0,0,0) scale(0.95);
  filter: blur(20px);
}

.film_card:hover::after {
  filter: blur(30px);
}

.film_card:hover::before {
  transform: translateY(-8px);
}

/* Для фильмов с постером */
.film_movie_card {
  justify-content: flex-end;
  color: #fff;
  overflow: hidden;
  position: relative;
}


/* Постер */
.film_poster {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border-radius: 8px;
}


.heading {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.film_text_overlay {
  position: relative;
  z-index: 1;
  padding: 8px;
}