* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    background-color: #141414;
    top: 0;
    position: sticky;
}